@model IEnumerable<tbl_News>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {

            <div class=" col-md-4">
                <div class="card m-2">
                    <img class="card-img-top" src="~/images/@item.Photo" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@item.Abstract</h5>
                        <p class="card-text">@item.Description</p>
                        <a class="btn btn-primary m-auto" asp-route-id="@item.Id" asp-action="NewsDetails">جزئیات</a>
                    </div>
                </div>
            </div>
        }

    </div>
</div>