@model ViewModels.UI.Account.LoginViewModel

<h4>ورود</h4>
<hr />
<div class="row ">
    <div class="col-md-8 force-rtl background-primary">
        <form class="m-4" asp-action="Login" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
                </label>
            </div>
            <div class="form-group">
                <input asp-for="ReturnUrl" hidden class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="ورود" class="btn btn-facebook" />

                <a asp-area="" class="btn btn-github btn-success" asp-controller="Account" asp-action="Create">ثبت نام</a>
            </div>
        </form>
    </div>
</div>

