
@model EditUserViewModel
<div class="modal fade" id="large-Modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form method="post" id="frmEditUser">
                <div class="modal-header">
                    <h4 class="modal-title">ویرایش کاربر</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card-block">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">نام</label>
                            <div class="col-sm-10">
                                <input class="form-control" asp-for="FirstName">
                                <span class="text-danger" asp-validation-for="FirstName"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">نام خانوادگی</label>
                            <div class="col-sm-10">
                                <input class="form-control" asp-for="LastName">
                                <span class="text-danger" asp-validation-for="LastName"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">نام کاربری</label>
                            <div class="col-sm-10">
                                <input class="form-control" asp-for="UserName">
                                <span class="text-danger" asp-validation-for="UserName"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">موبایل</label>
                            <div class="col-sm-10">
                                <input class="form-control" asp-for="PhoneNumber">
                                <span class="text-danger" asp-validation-for="PhoneNumber"></span>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 col-form-label">جنسیت</label>
                            <div class="col-sm-10">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" checked="checked" name="gender" id="gender-1" value="1"> پسر
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="gender" id="gender-2" value="0"> دختر
                                    </label>
                                </div>
                                <span class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6">

                        <!-- Hidden overlay card start -->
                        <div class="card">
                            <div class="card-header">
                                <h5>Hidden Overlay</h5>

                            </div>
                            <div class="card-block">
                                <div class="panel panel-flat">

                                    <div class="panel-body">
                                        @*<p class="content-group">
                                                This example demonstrates default options, but with hidden black modal layer above the cropper. To hide the modal set <code>modal</code> option to <code>false</code>. If visible, modal color
                                                can be easily changed in css.
                                            </p>*@
                                        <div class="image-cropper-container">
                                            <img  src="" alt="" class="crop-modal img-fluid">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Hidden overlay card end -->
                    </div>
                </div>


                @*<label class="col-sm-2"></label>*@
                <div class="col-sm-10">
                    <button id="btnEdit" type="button" style="margin:5%" class="btn btn-primary m-b-0">ذخیره</button>
                    <button type="button" data-dismiss="modal" style="margin:5%" class="btn btn-default m-b-0">برگشت</button>
                </div>

                @*<button type="button" onclick="dismismodal()" class="btn btn-default waves-effect " data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary waves-effect waves-light ">Save changes</button>*@

            </form>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $('#btnEdit').click(function (event) {
            debugger;
            event.preventDefault();
            if (!$('#frmEditUser').valid()) {
                return false;
            }
            $('#frmEditUser').on('submit', function () {
                $('#frmEditUser').preventDefault();
            })

            var model = $('#frmEditUser').serializeArray();
            $.ajax({
                url: '/Manage/UserManagers/EditUser',
                type: 'post',
                data: model,
                success: function (result) {
                    debugger;
                    if (result.status == 200) {
                        notify(result.message, 'top', 'left', '', 'success', '', '');
                        $('#large-Modal').modal('hide');
                        // $('#frmEditUser').trigger('reset');

                    }
                    else if (result.status == 600) {
                        notify(result.message, 'top', 'left', '', 'danger', '', '');
                        //$.each(result.errors, function (i, error) {
                        //    $.each(error.errors, function (j, item) {
                        //         $('#allError').append(createErrorElement(item.errooMessage))
                        //     })
                        // })
                        console.log(result);
                    }
                    else if (result.status == 100) {
                        notify(result.message, 'top', 'left', '', 'danger', '', '');
                        console.log(result);
                    }
                    else if (result.status == 404) {
                        notify(result.message, 'top', 'left', '', 'danger', '', '');
                        console.log(result);
                    }
                    else {
                        console.log(result);
                    }

                },
                error: function (result) {
                    console.log(result)
                },

            });
        })

    </script>
}